@using Microsoft.AspNetCore.Authorization
@using static MicrosoftEntraId.Auth.WebApp.Constants.AuthorizationConstants
@inject IAuthorizationService _authorizationService

<h1>Create new report</h1>

<p>hey you can create a new report!</p>