@using Microsoft.AspNetCore.Authorization
@using static MicrosoftEntraId.Auth.WebApp.Constants.AuthorizationConstants
@inject IAuthorizationService _authorizationService

<h1>Edit report</h1>

<p>hey you can edit this report!</p>

@if (User.IsInRole(Roles.DocumentEditor))
{
    <p>yes you are editor</p>
}