<h1>Reports</h1>

<div class="row mb-5">
    <div class="col col-sm-5">
        <div class="card mb-3">
            <div class="card-body">
                <p class="fw-bold">Report Title 1</p>
                <a type="button" class="btn btn-outline-primary" class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Read">View</a>
                <a type="button" class="btn btn-outline-primary" class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Edit">Edit</a>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <p class="fw-bold">Report Title 2</p>
                <a type="button" class="btn btn-outline-primary" class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Read">View</a>
                <a type="button" class="btn btn-outline-primary" class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Edit">Edit</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-sm-5 d-flex justify-content-end">
        <a type="button" class="btn btn-primary" class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Add">Add new</a>
    </div>
</div>